<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MetterMap</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
  </head>
<body>
    {% include '_navbar.html' %}
    
    <div class="container mt-5">
        {% block content %}
        {% endblock %}
    </div>
    <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Custom JavaScript -->
    <script>
      $(document).ready(function() {
        // Al deslizar a la izquierda el card, se muestra el botón de editar
        $(".card").on("swiperight", function() {
          $(this).find(".edit-button").show();
        });
        // Al deslizar a la derecha el card, se oculta el botón de editar
        $(".card").on("swipeleft", function() {
          $(this).find(".edit-button").hide();
        });
      });
    </script>
</body>
</html>
