{% extends 'base.html' %}

{% block content %}

<h1>Agregar datos</h1>

{% if message %}
<div class="alert alert-danger" role="alert">
  {{ message }}
</div>
{% endif %}

<form action="{% url 'create_task' %}" method="POST">
  {% csrf_token %}
  <div class="form-group">
    <label for="{{ form.title.id_for_label }}">Medidor:</label>
    {{ form.title }}
  </div>
  <div class="form-group">
    <label for="{{ form.description.id_for_label }}">Coordenadas:</label>
    {{ form.description }}
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="{{ form.important.id_for_label }}" name="{{ form.important.name }}">
    <label class="form-check-label" for="{{ form.important.id_for_label }}">Importante</label>
  </div>
  <button type="submit" class="btn btn-primary">Guardar</button>
</form>

{% endblock %}
