{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5">
    <h1 class="text-center mb-4" style="font-size: 36px; font-weight: bold;">Acerca de</h1>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <p class="text-center mb-4" style="font-size: 20px;">¡Hola! Soy Germán Adames, Inspector Técnico Contratista y estoy encantado de presentarte esta nueva herramienta que he desarrollado con el objetivo de facilitar la búsqueda de medidores y sus coordenadas. Esta aplicación ha sido creada para simplificar el proceso y ahorrar tiempo a todos los usuarios que la utilicen.</p>
        <p class="text-center mb-4" style="font-size: 20px;">Espero que te sea de gran ayuda. Si tienes alguna pregunta o comentario, no dudes en ponerte en contacto conmigo a través de mi cuenta de Instagram:</p>
        <div class="d-flex justify-content-center">
          <a href="https://www.instagram.com/gleonard.py" target="_blank" class="btn btn-primary" style="font-size: 20px; font-weight: bold; padding: 10px 20px; background-color: #E1306C; border-color: #E1306C;">Instagram</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
