{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5">
    <div class="card p-1" style="box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);">
      <h1 class="text-center mb-2" style="font-size: 36px; font-weight: bold;">Acerca de</h1>
      <div class="row justify-content-center">
        <div class="col-md-8">
          <p class="text-center mb-2" style="font-size: 20px;">Gracias por utilizar esta aplicación. Quiero destacar que el objetivo de esta herramienta es contribuir al uso eficiente de la tecnología y simplificar el proceso de búsqueda de medidores y sus coordenadas. Soy Germán Adames, un Inspector Técnico Contratista, y he creado esta aplicación con la intención de ahorrar tiempo a todos los usuarios que la utilicen.</p>
          <p class="text-center mb-2" style="font-size: 20px;">Espero que te sea de gran ayuda. Si necesitas más información o deseas ponerte en contacto conmigo, puedes encontrarme en mi cuenta de Instagram: </p>
          <div class="d-flex justify-content-center">
            <a href="https://www.instagram.com/gleonard.py" target="_blank" class="btn btn-primary d-flex align-items-center" style="font-size: 20px; font-weight: bold; padding: 10px 20px; background-color: #E1306C; border-color: #E1306C;">
              <i class="bi bi-instagram" style="font-size: 25px; margin-right: 15px;"></i>   
            </span>Instagram<span>          
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
