{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mx-auto" style="width: 25rem;">
          <div class="card-header bg-primary text-white">
            <i class="bi bi-geo-alt-fill">Mapa Tecnico</i>
            {{ block.super }}
          </div>
          <div class="card-body">
            <form method="POST">
              {% csrf_token %}
              <div class="mb-3">
                <label for="username" class="form-label">
                  <i class="bi bi-person-fill"></i></label>
                {{ form.username }}
              </div>
              <div class="mb-3">
                <label for="password1" class="form-label">
                  <i class="bi bi-lock-fill"></i></label>
                {{ form.password }}
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-primary">Iniciar sesión</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
