{% extends 'base.html' %}

{% block content %}
  <div class="container py-5">
    <h1 class="text-center mb-4">Buscar medidor</h1>

    <form method="GET" action="{% url 'tasks' %}">
      <div class="input-group mb-3 mx-auto" style="max-width: 500px;">
        <input type="text" class="form-control rounded-pill" name="query" placeholder="No. medidor">
        <button type="submit" class="btn btn-primary rounded-pill">Buscar</button>
      </div>
    </form>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mt-5">
      {% if tasks %}
        {% for task in tasks %}
          <div class="col">
            <div class="card h-100 shadow">
              <div class="card-body">
                {% if task.important %}
                  <h5 class="card-title fw-bold">Medidor: {{ task.title }}</h5>
                {% else %} 
                  <h5 class="card-title">Medidor: {{ task.title }}</h5>
                {% endif %}
                <p class="card-text mb-2">Coordenadas: {{ task.description }}</p>
                <p class="card-text">{{ task.datecompleted|date:'M j Y:i' }}</p>
                {% if task.description %}
                  <a href="geo:{{ task.description }}">Ver ubicación en Google Maps</a>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <div class="col">
          <p class="text-center">No se encontraron resultados.</p>
        </div>
      {% endif %}
    </div>
  </div>
 <style>
    .form-control {
      border-radius: 30px;
      border-color: #dcdde1;
    }

    .btn-primary {
      background-color: #27ae60;
      border-color: #27ae60;
    }

    .btn-primary:hover {
      background-color: #219a52;
      border-color: #219a52;
    }

    .card {
      border-radius: 10px;
      border-color: #dcdde1;
    }

    .card:hover {
      box-shadow: 0 0 10px #dcdde1;
    }
  </style>
{% endblock %}
