{% extends 'base.html' %}

{% block content %}

  <h1>Buscar medidor</h1>

  <form method="GET" action="{% url 'tasks' %}">
    <div class="mb-3">
      <input type="text" class="form-control text-center" name="query" placeholder="No. medidor">
    </div>
    <button type="submit" class="btn btn-primary">Buscar</button>
  </form>

  <ul class="mt-5">
    {% if tasks %}
      {% for task in tasks %}
        <li class="mb-3">
          <a href="{% url 'task_detail' task.id %}">
            {% if task.important %}
              <h3 class="fw-bold mb-1">Medidor: {{task.title}}</h3>
            {% else %} 
              <h3 class="mb-1">{{task.title}}</h3>
            {% endif %}
            <p class="mb-1">Coordenadas: {{task.description}}</p>
            <p class="mb-1">{{task.datecompleted|date:'M j Y:i'}}</p>
            {% if task.description %}
              <a href="https://www.google.com/maps/place/{{task.description}}" class="text-decoration-none">Ver ubicación en Google Maps</a>
            {% endif %}
          </a>
        </li>
      {% endfor %}
    {% else %}
      <p class="text-center">No se encontraron resultados.</p>
    {% endif %}
  </ul>
  
{% endblock %}

{% block css %}
  <style>
    input[type="text"] {
      border-radius: 5px;
      font-size: 20px;
      padding: 20px;
    }

    button {
      border-radius: 5px;
      font-size: 20px;
      padding: 10px 20px;
    }

    li {
      border-radius: 5px;
      padding: 20px;
      background-color: #f0f0f0;
    }

    a {
      color: #007bff;
    }

    a:hover {
      color: #0056b3;
    }
  </style>
{% endblock %}
